
* {
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin: 60px auto;
}
.box {
    border: solid black 1px;
    width: 40%;
    height: 35px;
    font-size: 16px;
    text-align: center;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    background-color: #2b7a78; /* Teal */
    border-radius: 10px;
    margin: 40px auto;
}
h3 {
    font-size: 25px;
}