* {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    letter-spacing: 1px;
    box-sizing: border-box;
}
h1 {
    font-size: 50px;
    padding: 30px;
    text-align: center;
}
input[type=text] {
    border: solid black 1px;
    width: 40%;
    height: 6%;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #2b7a78; /* Green */
    border-radius: 10px;
    margin-top: 50px;
}
h3 {
    font-size: 25px;
    padding-bottom: 10px;
}
.back {
    margin-right: 30px;
    font-size: 12px;
    padding: 12px 30px;
    background-color: lightseagreen;
}