* {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    padding: 30px;
    text-align: center;
}

table {
    margin: 10px auto;
    text-align: center;
}

td {
    padding: 10px 20px;
}

th {
    font-size: 25px;
    padding-bottom: 20px;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.delete {
    background-color: red; /* red */
}

.edit {
    background-color: #2b7a78; /* Green */
}

.add {
    background-color: lightseagreen;
    font-size: 50px;
    margin-right: 100px;
}
.create {
    text-align: right;
}
p {
    margin-right: 20px;
    display: inline-block;
    font-size: 20px;
}