* {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    padding: 30px;
    text-align: center;
}

table {
    margin: 10px auto;
    text-align: center;
}

td {
    padding: 10px 20px;
}

th {
    font-size: 25px;
    padding-bottom: 20px;
}

input[type=submit] {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.delete {
    background-color: red; /* red */
    border-radius: 10px;
}

.edit {
    background-color: #2b7a78; /* Green */
    border-radius: 10px;
}

.add {
    text-decoration: none;
    font-size: 40px;
    background-color:#2b7a78;
    color: white;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 20px;
    margin-right: 100px;
    border-radius: 10px;
}

.create {
    text-align: right;
}