* {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    padding: 30px;
}

table {
    margin: 10px auto;
}

td {
    padding: 10px 20px;
}

th {
    font-size: 25px;
    padding-bottom: 20px;
}

input[type=submit] {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
}

.delete {
    background-color: red; /* red */
}

.edit {
    background-color: #4CAF50; /* Green */
}