* {
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
}
form {
    text-align: center;
}
h1 {
    font-size: 50px;
    padding-top: 30px;
    text-align: center;
}
.box {
    border: solid black 1px;
    width: 40%;
    height: 35px;
    font-size: 16px;
    text-align: center;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #2b7a78; /* Green */
    border-radius: 10px;
    margin-top: 70px;
}
h3 {
    font-size: 25px;
    padding-bottom: 10px;
}
p {
    font-size: 15px;
    border: none;
    color: #2b7a78;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    background-color: #90d8cd;
    border-radius: 10px;
    text-align: left;
    margin-left: 30px;
}
.back {
    margin-right: 30px;
    font-size: 12px;
    padding: 12px 30px;
    background-color: lightseagreen;
}